*{
    margin: 0;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* background-color: rgb(191, 72, 72); */
}
.container{
    background-color: white;
    padding: 22px;
    width: 350px;
}
.amount{
    font-size: 18px;
    display: flex;
    gap: 8px;
}
.amount input{
    width: 20%;
}
form{
    margin: 10px;
    /* width: 100%; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
form input ,select , button{
    /* background-color: rgb(220, 98, 98); */
    width: 80%;
    border: none;
    /* outline: none; */
    border-radius: 10px;
}

form input{
    border: 2px solid red;
    font-size: 15px;
}
.content{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 20px;
}
.select-container-1{
    display: flex;
    /* background-color: red; */
    border-radius: 10px;
    border: 2px solid blue;
}
.select-container-2{
    display: flex;
    /* background-color: red; */
    border-radius: 10px;
    border: 2px solid blue;
}
form button{
    height: 30px;
    /* color: white; */
    cursor: pointer;
    background-color:rgb(255, 151, 24);
    border: 2px solid rgb(44, 83, 83);
}